logging:
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"

spring:
  data:
    redis:
      host: localhost
      port: 6379

  jpa:
    hibernate:
#       ddl-auto: none
      ddl-auto: create
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.MySQL8Dialect
    defer-datasource-initialization: true

  sql:
    init:
      mode: always
      data-locations: classpath:data.sql

  kafka:
    bootstrap-servers: localhost:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      acks: all
      retries: 3
    consumer:
      group-id: chat-server-${server.port}
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      auto-offset-reset: earliest
      enable-auto-commit: false
      properties:
        spring.json.trusted.packages: "*"

token:
  secret-key: "SECRET"
  refresh-secret-key: "REFRESH_SECRET"
  token-time: 300
  refresh-token-time: 300

app:
  datasource:
    main:
      username: ${DB_MAIN_USERNAME:root}
      password: ${DB_MAIN_PASSWORD:mySql1313}
      url: ${DB_MAIN_URL:jdbc:mysql://localhost:3306/chat_service}
      driver-class-name: com.mysql.cj.jdbc.Driver
      max-pool-size: 20
      min-idle: 5
    
    message:
      username: ${DB_MESSAGE_USERNAME:root}
      password: ${DB_MESSAGE_PASSWORD:mySql1313}
      driver-class-name: com.mysql.cj.jdbc.Driver
      max-pool-size: 20
      min-idle: 5
      shards:
        - key: shard-0
          url: ${DB_MESSAGE_SHARD0_URL:jdbc:mysql://localhost:3306/messagedb1}
        - key: shard-1
          url: ${DB_MESSAGE_SHARD1_URL:jdbc:mysql://localhost:3306/messagedb2}

server:
  port: 8080

management:
  endpoints:
    web:
      exposure:
        include: "prometheus"
  metrics:
    tags:
      application: my-app

---
spring:
  config:
    activate:
      on-profile: test

  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  sql:
    init:
      mode: never